<div class="col-sm-12 col-md-5">
    <div class="dataTables_info" role="status" aria-live="polite"> <%= page_entries_info f if f.size > 0 %></div>
</div>
<div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers">
        <%= bs_will_paginate f if f.size > 0 %>
    </div>
</div>