<button class="btn btn-primary btn-sm" type="button" disabled id="import_button">
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status text-sm">Run...</span>
</button>